{
    "host": "192.168.1.58",
    "user": "xxx",
    "password": "yyy",
    "secret": "kaka",
    "dark": true,
    "fibemuvar": true,
    "colors": {
        "SYS":      "brown", 
        "SYSERR":   "red", 
        "DEBUG":    "green", 
        "TRACE":    "blue", 
        "WARNING":  "orange",
        "ERROR":    "red", 
        "TEXT":     "black", 
        "DARKTEXT": "grey82"
      }
}