{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style>
    @media (min-width: 1200px) {
        .container{
            max-width: 400px;
        }
    }
    </style>
    <script>
        function btnClicker(id,elm,val) {
            fetch(`http://127.0.0.1:5004/emu/button/${id}/${elm}/${val}`)
        };
        function btnPost(id) {
            fetch('http://127.0.0.1:5004/api/plugins/restart', {
                method: 'POST',
                    headers: {
                    'Content-Type': 'application/json'
                    },
                body: JSON.stringify({"deviceId": id})
                })
        };
    </script>
{% endblock %}
{% block content %}
    <div class="p-3 bg-light border border-primary shadow">
        <h2>QuickApp "{{qa.name}}"</h2>
        <h4>{{qa.dev.type}}</h4>
        <div class="p-1 container-xs">
        <button type="button" class="btn btn-primary"
               onclick='btnPost({{qa.dev.id}})'>
               Restart QA
              </button>
        </div>
        <div class="p-1 container-xs border border-2 border-primary">
        {%for l,row in qa.UI.items() %}
        <div class="row p-1">
            {% for k,e in row.items() %}
            <div class="col d-grid">
              {% if e.type == 'button' %}
              <button type="button" class="btn btn-secondary"
               onclick='btnClicker({{qa.dev.id}},"{{e.button}}",0)'>
               {{e.text}}
              </button>
              {% endif %}
              {% if e.type == 'slider' %}
                <output>{{e.value or 33}}</output>
                <input type="range" class="form-range bg-secondary" 
                id="customRange1"
                min="{{e.min or 0}}"
                max="{{e.max or 100}}"
                value="{{e.value or 33}}"
                oninput="this.previousElementSibling.value = this.value"
                onmouseup='btnClicker({{qa.dev.id}},"{{e.slider}}",this.value)'>
              {% endif %}
              {% if e.type == 'label' %}
                {{e.text}}
              {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              QuickApp variables
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <table class="table">
                    <thead>
                      <tr>
                        <th class="col">Name</th>
                        <th class="col">Value</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for v in qvs %}
                      <tr>
                        <td>{{v.name}}</td>
                        <td>{{v.value}}</td>
                      </tr>
                        {% endfor %}
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Device structure
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
<pre>
{{emu.remoteCall("getResource","devices",qa.dev.id)[0] | prettyjson}}
</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

<html>
<body>
