{
    "build": {
        "dockerfile": "Dockerfile"
    },
    "customizations": {
        "vscode": {
            "extensions": [
                "tomblind.local-lua-debugger-vscode",
                "sumneko.lua"
            ]
        }
    },
    "forwardPorts": [
        5004
    ]
}